<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="TridionCmeUrl" value="http://acmscmqas.atmel.com"/>
    <add key="Username" value="mihai.cadariu"/>
    <add key="Password" value="Tridion2014"/>
    <add key="StartTcmUri" value="tcm:0-26-1"/>
    <add key="Namespace" value="Mitza.DD4T.Model"/>
    <add key="Folder" value="C:\Customers\DD4T.net Model Generator\Mitza.DD4T.Model"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>
