<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- Where to read the System Component from (Publication, Current, TcmUri or WebDavUrl). Multiple values are comma separated -->
    <add key="SystemComponentLocation" value="Publication"/>

    <!-- Which metadata field contains a Component Link to the SystemComponent. Multiple fields separated by commas -->
    <add key="SystemComponentField" value="Configuration,conf"/>

    <!-- Search for System Component recursively (going up into the parent Folder/SG)? -->
    <add key="SystemComponentRecursive" value="true"/>

    <!-- When merging several System Components, should it override values for the same key? -->
    <add key="SystemComponentOverride" value="true"/>
  </appSettings>
</configuration>