<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<servlet>
		<servlet-name>Content Assembler Servlet</servlet-name>
		<servlet-class>mitza.net.ContentAssemblerServlet</servlet-class>
		<init-param>
			<param-name>ODataEndpoint</param-name>
			<param-value>http://localhost:9091/odata/odata.svc</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Content Assembler Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>