<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

    <services>
      <service behaviorConfiguration="myBehavior" name="SampleSite.MyService">
        <endpoint address="myFederation" contract="SampleSite.IMyService"
          binding="ws2007FederationHttpBinding" bindingConfiguration="myBinding"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceAuthorization principalPermissionMode="Always" />

          <serviceCredentials useIdentityConfiguration="true">
            <!-- Decrypting certificate -->
            <serviceCertificate
              storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"
              findValue="30 4e 10 91 73 fb 34 6a 90 19 f5 e7 d4 fa 2d 11 21 10 3e 3d" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="myBinding" transactionFlow="true">
          <security mode="TransportWithMessageCredential"/>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://service.web85.playground/MyService.svc/myFederation"/>
      </audienceUris>

      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add name="ADFS Signing Certificate" thumbprint="f3 c4 a4 c2 63 65 ee df c5 ad 98 bd 5d c4 95 31 70 15 7f 3f" />
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>

  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information">
        <listeners>
          <add name="svclog" />
        </listeners>
      </source>
      <source name="System.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="svclog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="svclog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\MyService.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>